@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#image-container img {
  min-width: 50%;
  height: 50vh;
  margin: auto;
}

#moto-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16rem;
  padding: 2rem 2rem;
  background: #f0ebeb;
}

#moto {
  font-size: 78px;
  font-family: "Permanent Marker";
  line-height: 60px;
}

#moto-text {
  font-family: 'Sansita Swashed', cursive;
  margin-top: 50px;
  font-size: 30px;
  text-align: center;
  color: gray;
}

#button button {
  margin-top: 40px;
  padding: 10px 50px;
  background: #c2432d;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
}

#reg-form {
  margin-top: 16rem;
  background: #000000;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#000000), to(#434343));
  background: linear-gradient(to right, #000000, #434343);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: auto;
  height: 80vh;
}

#login-wrapper {
  margin-top: 15rem;
  background: #f0ebeb;
  padding: 15px;
}

#main-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#moto-login {
  font-size: 78px;
  font-family: "Permanent Marker";
  line-height: 60px;
  text-align: center;
}

#donation-wrap {
  margin-top: 7rem;
}

#donate-btn {
  margin-top: 40px;
  padding: 10px 50px;
  background: #c2432d;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
}

footer {
  font-size: 18px;
  height: 10vh;
  margin-top: 8rem;
  text-align: center;
  padding: 3px;
  background-color: #c2432d;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  color: greenyellow;
}

footer a {
  color: white;
  text-decoration: none;
}

#map-login {
  font-size: 78px;
  font-family: "Permanent Marker";
  line-height: 60px;
  text-align: center;
  margin-top: 10rem;
}

#meeting-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#meeting-btn {
  margin-top: 100px;
  padding: 10px 50px;
  background: #c2432d;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
}
/*# sourceMappingURL=mainPageStyle.css.map */